
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            color: #333;
            margin: 0;
            padding: 20px;
        }

        h1 {
            text-align: center;
            color: #6386e4;
            margin-bottom: 40px;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            flex-direction: column;
        }

            .container div {
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                padding: 20px;
                text-align: center;
                width: 250px;
                transition: transform 0.2s;
            }

                .container div:hover {
                    transform: translateY(-5px);
                }

            .container img {
                width: 60px;
                height: 60px;
                margin-bottom: 10px;
            }

            .container h2 {
                margin: 10px 0;
                font-size: 1.2em;
                color: #333;
            }

            .container a {
                text-decoration: none;
                color: #6386e4;
                font-weight: bold;
            }

                .container a:hover {
                    color: #6386e4;
                }

        h1 {
            color: #6386e4;
        }
    </style>
</head>
<body>


    <div class="container">
        <h1>Welcome ... Admin</h1>
        <div>
            <img src="~/img/admin/user-solid.svg" alt="icon">
            <h2><a asp-action="AdminUser" asp-controller="Person">Show All User</a></h2>
        </div>

        <div>
            <img src="~/img/admin/right-from-bracket-solid.svg" alt="icon">
            <h2><a asp-action="Logout" asp-controller="Home">Logout</a></h2>
        </div>

        <div>
            <img src="~/img/admin/chalkboard-user-solid.svg" alt="icon">
            <h2><a asp-action="AdminCourses" asp-controller="Course">Show All Courses</a></h2>
        </div>
        <div>
            <img src="~/img/admin/house-solid.svg" alt="icon">
            <h2><a asp-action="IndexLogin" asp-controller="Home">Home </a></h2>
        </div>
    </div>
</body>
</html>